<footer class="footer">
    <div class="social-links">
      <a href="#"><i class="fa-brands fa-facebook"></i></a>
      <a href="#"><i class="fa-brands fa-twitter"></i></a>
      <a href="#"><i class="fa-brands fa-instagram"></i></a>
    </div>
    <p>Copyright &copy; All Rights Reserved 2023</p>
  </footer>
</body>
</html>
