<body>
  <header>
    <nav class="nav-bar">
      <img src="./images//logo.jpeg" alt="" class="logo-img" />
      <!-- <h1>ESHIRAKALU PRIMARY SCHOOL</h1> -->
      <ul class="nav-links">
        <% if(user) { %>
        <li class="nav-link welcome-msg">
          Welcome, <span><%= user.name%></span>
        </li>
        <li class="nav-link"><a href="/">Home</a></li>
        <li class="nav-link donate"><a href="/donate">Donate</a></li>
        <li class="nav-link"><a href="/logout">Log Out</a></li>
        <% }else{ %>
        <li class="nav-link"><a href="/login">Login</a></li>
        <li class="nav-link signup-btn-info">
          <a href="/signup" class="signup-btn">Sign Up</a>
        </li>
        <% } %>
      </ul>
    </nav>
  </header>
</body>
