<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles.css" />
    <link rel="stylesheet" href="/fontawesome-free-6.3.0-web/css/all.css" />
    <link rel="icon" type="image/png" sizes="32x32" href="/images/logo.jpeg" />
    <script defer src="script.js"></script>
    <script src="https://www.paypal.com/sdk/js?client-id=Ac08mwyaa86FyzwA0Kjyx_SpWtbP4KFT2xR5mJOAvs5sjxQppFT2rMqtlNrtC98wM3hoUtQz7dnzB9IN"></script>
    <title>Simple School App || <%= title %></title>
  </head>
</html>
