<%- include('partials/head.ejs'); %>
<%- include('partials/header.ejs');%>
    <section class="section section-one">
      <div class="section-one-info">
        <h1>Do you want to know about Eshirakalu Primary School?</h1>
        <p>
          Kindly sign up to stay updated  with all information about us
        </p>
        <button class="signup-btn-info">
          <a href="signup"><span>Sign up</span></a>
        </button>
      </div>
      <div>
        <img
          src="/images/education.jpeg"
          alt=""
          class="info-img"
        />
      </div>
    </section>
    <section class="section section-two">
      <div class="section-two-info">
        <h1><span>How</span> we were established</h2>
        <p>
          Eshirakalu Primary was an idea proposed by the community, whose main objective was to bridge the educational gap in the area. This is a public primary school in its development stage. Currently, a few projects, such as the construction of classes and other basic amenities, are underway to create the best learning environment for both learners and staff. Some of the sponsors and wellwishers to the germination and growth of Shirakalu Primary since its establishment are:
         
        </p>
        <div class="sch_funders">
          <div>
            <img src="./images/Kata.jpeg" alt="" class="sch-funders"/>
            <p>Eng. Kata Chiteri</p>
          </div>
          <div>
            <img src="./images/Howard.jpeg" alt="" class="sch-funders"/>
            <p>Eng. Howard Mmayi Chiteri</p>
          </div>
          <div>
            <img src="./images/Ben.png" alt="" class="sch-funders"/>
            <p>Mr. Ben Mbayeh</p>
          </div>
          <div>
            <img src="./images/mark.jpeg" alt="" class="sch-funders"/>
            <p>Mr. Macnamara Mmayi</p>
          </div>
        </div>
      </div>
    </section>
    <section class="section section-three">
      <div class="sch-milestones">
        <div class="div-img">
          <img src="./images/shirakalu.jpeg" alt="" class="sch-img"/>
        </div>
        <div class="section-three-info">
          <h1>The <span>Milestones</span></h1>
          <p>Below are some of the achievements we have attained so far;</p>
          <ul>
            <li>Employed one teacher who is currently in charge of teaching in all classes</li>
            <li>Managed to raise some cash from wellwishers and set up mud-classes from  PP1 to class four</li>
            <li>Has approximately 50- 100 learners</li>
          </ul>
        </div>
      </div>
    </section>
    <section class="section section-four">
      <h1>See the <span>comments</span> by some of the community members about Eshirakalu Primary School</h1>
      <div class="reviews">
        <p>
          Our dream is to finally set up a primary school that will serve community.
          We've longed for it, and we cannot wait to have it in place. 
         
          <span>@parent_1</span>
        </p>
        <p>
          Since my childhood, i've always seen everyone in the community eying school within our vicinity
          where our children won't have to walk for miles to access basic services like
          quality education. This is finally a dream come true for in our community
          and our county at large. The progress is commendable.
          <span>@parent_2</span>
        </p>
        <p>
          Hey there, I'm among those who have the zeal to this primary school
          prosper. We're set and ready to go. Any support will be highly from the government, wellwishers will be highly appreciated
          <span>@parent_3</span>
        </p>
      </div>
    </section>
    <%- include('partials/foooter.ejs'); %>